# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests

/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
package.json
composer.json

# Ignore all files in the results folder
debug/*
logs/*

# Allow tracking of only the index.php file in the results folder
!debug/index.php
!logs/index.php

# Ignore specific files
